:root {
    // fonts family
    --font-family: "Mulish", sans-serif;
    // colors
    --light: #4b749f;
    --primary: #385674;
    --dark: #243748;
    --text: #212529;
    --background: #fafafa;
    --hint: #9ca1a5;
    --border: #ddd;
}
