:root {
    --font-family: "Mulish", sans-serif;
    --light: #8bb174;
    --primary: #669d31;
    --dark: #3c5a14;
    --text: #333;
    --background: #fafafa;
    --hint: #999;
    --border: #ddd;
}
