:root {
    --font-family: "Mulish", sans-serif;
    --light: #c77dff;
    --primary: #7b2cbf;
    --dark: #3c096c;
    --text: #212529;
    --background: #fafafa;
    --hint: #6c757d;
    --border: #ddd;
}
